<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RouteDebugger:Enabled" value="false" />
  
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!--是否显示异常信息-->
  <add key="IsShowEx" value="true"/>
  <!--系统主题风格-->
  <add key="ThemesName" value="blue"/>
  <!--系统内置的缓存时间：分钟-->
  <add key="SysCacheTime" value="30"/>
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="http://www.cnsecom.com/" />
  <!-- 软件名称 -->
  <add key="SoftName" value="智慧机电设备运维综合管理平台" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="ziheng@cnsecom.com" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 4：WebApi参数配置 ================== -->
  <!-- WebApi站点域名 -->
  <add key="WebApiDomain" value="http://localhost:80"/>
  <!--接口地址配置-->
  <add key="UserService" value="/api/Businesss"/>
  <add key="ValidateModel" value="/api/service/"/>
</appSettings>