@{
    ViewBag.Title = "设备保养";
    ViewBag.ParentTitle = "设备维保";
    Layout = "~/Views/Shared/_Page.cshtml";
}
<div class="page-content-body">
    <div class="row">
        <div class="col-md-4">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bubble font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">日期</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="divBar" style="width:100%;height:400px;"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="table_local"></table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

@section scripts{

}

