/* modify by zouqj */
/*声明全局变量*/
/*--nice-blue：亮蓝 #53adfd
 *--fontColor:字体颜色（白色）
*/
/***********
    Theme Colors
    ***********/
.theme-font-color {
  color: #5b9bd1; }
/*********** 
    Page Header
    ***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
  /* Top notification menu/bar */
  /* Header seaech box */ }
.page-header.navbar .page-logo {
    background: #5e738b;margin-left: 50px; }
.page-header.navbar .page-top {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    background: #3E495F; color:white;}/*页面顶部的背景色和颜色*/
.page-header.navbar .top-menu .navbar-nav {
    /* Extended Dropdowns */
    /* Notification */
    /* Inbox */
    /* Tasks */
    /* User */
    /* Language */
    /* Dark version */ }
    .page-header.navbar.navbar-fixed-top{
      background-color:#5e738b;}/*顶部缩小后的背景颜色*/
    .page-header.navbar,.page-header.navbar.navbar-fixed-top .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
      background-color: #5c9bd1; }/*顶部滑动颜色*/
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
      color: #C0CDDC; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
      background-color: #17C4BB;
      color: #ffffff; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
      background-color: #f9fafc; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
      border-bottom-color: #e4e8ee; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
      border: 1px solid #e4e8ee; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
        border-bottom-color: #d4dae4; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
        border-bottom-color: #eaedf2; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
        background: #eaedf2; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
          color: #62878f; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
          color: #337ab7; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
          color: #23527c;
          text-decoration: none; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
        border-bottom: 1px solid #EFF2F6 !important;
        color: #888888; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
         background: #f8f9fa; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
      background: #f1f1f1; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
      background: #e4e4e4; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
      background-color: #17C4BB;
      color: #ffffff; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
      border-color: transparent transparent transparent #17C4BB; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
      color: #5b9bd1; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
      background-color: #dfe2e9; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
      color: #7f96ac; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
      color: #7f96ac; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
      width: 195px; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
      color: #7f96ac; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
      background: #374b6d;
      border: 0; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
        border-bottom-color: #374b6d; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
        background: #293952; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
          color: #a8b8d3; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
          color: #5496cf; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
      color: #b8c6db;
      border-bottom: 1px solid #415a81 !important; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
        color: #97aaca; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
        background: #3e557a; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
      border-bottom: 0 !important; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
        background: #415a81; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
      background: #2f405c; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
      background: #26344b; }
    .page-header.navbar .search-form {
      background: #fff; }
    .page-header.navbar .search-form .input-group .form-control {
      color: #7f96ac; }
    .page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
        color: #7c94aa;
        opacity: 1; }
    .page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
        color: #7c94aa; }
    .page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
        color: #7c94aa; }
    .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
      color: #7f96ac; }

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
  background-color: #ffffff;
  /* Default sidebar */ }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
  .page-sidebar .page-sidebar-menu {
    /* 1st level links */
    /* All links */ }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3,
    .page-sidebar .page-sidebar-menu > li.heading > h3 {
      color: #5C9ACF; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
      color: #485a6a; }
      @media (max-width: 991px) {
        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
        .page-sidebar .page-sidebar-menu > li > a {
          /* 991px */
          border-top: 1px solid white; } }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
      .page-sidebar .page-sidebar-menu > li > a > i {
        color: #97b1c3; }
      .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
      .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
        color: #a7bdcd; }
       .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"]{
        color:white;
            }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
        color: white; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
    .page-sidebar .page-sidebar-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu > li.open > a {
      background: #53adfd;
      color: white; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
      .page-sidebar .page-sidebar-menu > li:hover > a > i,
      .page-sidebar .page-sidebar-menu > li.open > a > i {
        color: white }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
        color: white; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
    .page-sidebar .page-sidebar-menu > li.active > a,
    .page-sidebar .page-sidebar-menu > li.active.open > a {
      background: #f2f6f9;
      color: #454C69; }
    .page-sidebar .page-sidebar-menu > li.active.open > a:hover > i,.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar-menu .sub-menu > li:hover > a > i,.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i[class*="icon-"]{
    color: white;
}
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
      .page-sidebar .page-sidebar-menu > li.active > a:hover,.page-sidebar .page-sidebar-menu > li.active.open > a:hover,
       .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before
       {
        color:white;
        background: #53adfd; }
      .page-sidebar .page-sidebar-menu > li.active > a > i,.page-sidebar .page-sidebar-menu > li.active.open > a > i {
        color: #5b9bd1;}
       .page-sidebar .page-sidebar-menu > li.start > a:hover > i,
       .page-sidebar .page-sidebar-menu > li.start.active.open > a:hover > i,.page-sidebar .page-sidebar-menu > li.start.active.open > a:hover > .arrow.open:before{
        color: white;}
       .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.start.active > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.start.active.open > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i{
           color:white;
       }
      .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: #67a2d4; }
      .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: #67a2d4; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
    .page-sidebar .page-sidebar-menu > li.active > a {
      border-left: 3px solid #5C9ACF !important;
      margin-left: 0px;
      padding-left: 15px; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
      color: #67a2d4; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
      color: white; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
      color: #67a2d4; }
     .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before {
      color: white; }
    .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
    .page-sidebar .page-sidebar-menu:hover .sub-menu {
      background: #FFFFFF; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar-menu .sub-menu > li > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a {
      color: #485a6a; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #97b1c3; }
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
        color: #a7bdcd;
        margin-right:2px;
      }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
        color: #a0b8c9; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
      color: white;
      background: #53adfd !important; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: white; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
        color: white; 
        background-color:#53adfd;
        margin-right:2px;
      }
/******
    Page Footer 
    ******/
.page-footer .page-footer-inner {
  color: #a1b2cf; }

.page-footer-fixed .page-footer {
  background-color: #a5aea8; }
  .page-footer-fixed .page-footer .page-footer-inner {
    color: #121618; }

.page-boxed .page-footer .page-footer-inner {
  color: #121618; }

.page-footer-fixed .page-boxed .page-footer {
  background-color: #a5aea8; }

@media (min-width: 992px) {
  /* 992px */
  /* Sidebar menu closed */
  .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
  .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
      box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
  /* Fixed Sidebar */
  .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
    border-bottom: 0; }
  .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
    background-color: #eef1f5; }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
      color: #333; }
  /* Boxed Layout */
  .page-boxed {
    background-color: #F2F2F2 !important;
    /* Page container */ }
    .page-boxed .page-container {
      background-color: #26344B; }
    .page-boxed.page-sidebar-reversed .page-container {
      border-left: 0; }
    .page-boxed.page-sidebar-fixed .page-container {
      border-left: 0;
      border-bottom: 0; }
    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
  /* Sidebar Menu Wirh Hoverable Submenu */
  .page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #1c2637; }
    .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
      border-left: 8px solid #1c2637; }
  .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #1c2637 !important; } }

@media (max-width: 991px) {
  /* 991px */
  .page-container {
    background: #eef1f5; }
  .page-header.navbar {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    padding: 0;
    /* Top menu */ }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
      background-color: #f6f7fa; }
    .page-header.navbar .page-top {
      box-shadow: none; } }

@media (max-width: 767px) {
  /* 767px */
  .page-header.navbar {
    background: #17C4BB;
    /* Top menu */ }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
      background-color: #eff1f6; } }

/****
 CSS3 Spinner Bar  
****/
.page-spinner-bar > div,
.block-spinner-bar > div {
  background: #1adbd1; }

/****
    Boby
    ****/
body {
  background-color: #26344B; }

body.page-boxed {
  background-color:#F2F2F2; }
  .page-header.navbar .page-logo {
    width: 80px;
    padding-left: 20px;
    }
.topLogo{
    display: block;
    float: left;
    height: 68px;
    padding-left: 20px;
    width: 80px;
    height: 68px;
}
.navbar-nav > li > a
{
    color:white;
}
/*自动搜索下拉框样式*/
 .dropdown-menu > li.active > a{color:white;background-color:#53adfd;}
  .page-content-wrapper {
    background-color:#F2F2F2;
  }
[class^="fa-"]:not(.fa-stack),[class^="glyphicon-"],[class^="icon-"],[class*=" fa-"]:not(.fa-stack),[class*=" glyphicon-"],[class*=" icon-"] {
  margin-right:4px;
  margin-left:1px;
}
#ulTopMenu{float:right;min-width:300px;}
#ulTopMenu > li > a{
    line-height:35px;
    height:68px;
}
#ulTopMenu > li > a:hover{
    background-color:#5C9BD1;
}
.navbar-nav > li {
    height:68px;
}
.hor-menu .navbar-nav {
    margin-left:50px;
}
.navbar-nav > li > a:hover,.navbar-nav > li > a:visited {
    background-color:#53adfd;
    color:white;
}
.sub-menu > li > a >i:hover{
     color:white;
}
.navbar-header > a.navbar-brand.active .selected {
    border-bottom: 10px solid #53ADFD;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 0;
    display: inline-block;
    height: 0;
    margin: 0 0 0px -26px;
    position: absolute;
    width: 0;
}
.menuActive{
    background-color:#53adfd;
    color:white;
}
.tabbable-custom > .nav-tabs > li.active{
    border-top: 3px solid #53adfd;
}
.light-blue{
   color: #53adfd;
}
.bg-light-blue{
    background:#53adfd none repeat scroll 0 0
}
.font-light-blue{
   color: #53adfd;
}
 .btn.light-blue:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #3598dc;
    border-color: #5C9BD1; }
.btn.light-blue.btn-no-border:not(.active) {
    border-color: transparent;
}
.btn.light-blue:not(.btn-outline) {
    background-color: #53adfd;
    border-color: #5C9BD1;
    color: #ffffff;
}
.btn.light-blue:focus:not(.btn-outline), .btn.light-blue.focus:not(.btn-outline) {
    background-color: #53adfd;
    border-color: lightblue;
    color: #ffffff;
}
.operatorDiv {
    text-align: center;
}
.operatorDiv > a{
    margin:0px 7px;
    color:#53adfd;
}
.returnLink{
    height:38px;
    line-height:38px;
    margin-right:8px;
}
.portlet-form .form-body, .form .form-body{
    padding:0px;
}
.form-wizard .steps > li.active > a.step .number {
    background-color: #53adfd;
    color: #fff;
}
.progress-bar-success {
    background-color: #53adfd;
}
.form-wizard a{
    cursor:default;
}
.form-horizontal .control-label{
    text-align:left;
}
.form-group.headDiv{
    border-bottom:1px dashed #ccc; height:50px;width:100%;margin:0px;margin-bottom:15px;
}
.form-wizard .form-group{
    margin:0px 0px 15px 0px;
}
.btn-info:focus, .btn-info.focus{
    /*color:#FA6F74;*/
}
.page-bar ul.page-breadcrumb span:last-child{
    color:#53adfd;
}
.mt-step-col{float:left;}
.mt-step-number.bg-light-blue{
     border: 2px solid #e5e5e5;
}
.mt-element-step .step-line .mt-step-col{
    padding:10px 0;
}
.mt-element-step .step-line .mt-step-title {
    font-size: 16px;
    font-weight:100;
}
.done > div > span{
    color:white;
}
.head-title {
    color: white;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 68px;
    margin: 0;
    padding: 0;
}
.navbar-inverse {
    background-color: #3e495f;
    border-color: #090909;
}
.icon-logout{
     color: white;
    margin-top: 26px;
    font-size:18px;
    margin-right:20px;
    cursor:pointer;
}
.top-menu{margin-left:100px;}