@{
    Layout = "~/Views/Shared/_Page.cshtml";
    ViewBag.ReturnBtn = true;
    ViewBag.ReturnUrl = "/EquipMaintain/CompositeSearching";
}
<!-- BEGIN CONTAINER -->
<div class="page-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit ">
                <div class="portlet-body" style="background-color:#F3F8FC;">
                    @{ Html.RenderPartial("Step", new Secom.Smp.ViewModel.StepModel() { DataList=new List<string>()
                       { "待分配", "待接收", "待完工", "待确认", "已确认","待审核","待结束" },SelectIndex=0 });}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cararra">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>保养信息
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="展开/折叠"> </a>
                        <a href="" class="fullscreen" data-original-title="" title="全屏"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group headDiv">
                        <label class="control-label col-md-3">
                            工单号：
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6">
                            工单名称：
                        </label>
                        <label class="control-label col-md-6">
                            保养人员：
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
}


