@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div id="divWorkloadTotal" style="width:100%;height:300px;">
</div>
<table class="table table-striped table-bordered table-hover table-checkable order-column" id="table_WorkloadTotal"></table>