@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="page-content-body" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">@*总能耗*@
                    <h5 style="border-left:3px solid #32c5d2;padding:0 6px;font-weight:bold;">总能耗</h5>
                    <div class="row">
                        <div style="width:100%;height:480px;min-height:340px;min-width:220px;" id="totalEC"></div>
                    </div>
                    <div class="row">
                        <div style="width:100%;height:60px;min-height:50px;min-width:220px;position:relative;left:60px; top:-200px;" id="info">
                            <p style="font-size:12px;color:gray;">工作时段：88%&nbsp;&nbsp;&nbsp;&nbsp;77789kWh&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月电耗：323232kWh</p>
                            <p style="font-size:12px;color:gray;">工作时段：48%&nbsp;&nbsp;&nbsp;&nbsp;27789kWh&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月电耗：1262kWh</pstyle="font-size:12px;color:gray;">
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">@*能耗排名*@
                    <h5 style="border-left:3px solid #32c5d2;padding:0 6px;font-weight:bold;">能耗排名</h5>
                    <div style="width:100%;height:480px;min-height:350px;min-width:220px; left:-38px;top: -36px" id="orderEC"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">@*逐时能耗*@
                    <div style="width:100%;height:350px;min-height:280px;min-width:220px;" id="detailEC"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var pieChart = echarts.init(document.getElementById('totalEC'));
            var colors = ['#FA6F74', '#FDD566', '#6ED1A2', '#6CBEF6'];
            var pieOption = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{b}: {c}kw/h ({d}%)"
                },
                legend: {
                    formatter: function (name) {
                        return name + name.length + '  ' + '10%' + '\n   换行';
                    },
                    itemWidth: 4,
                    itemHeight: 28,
                    align: 'left',
                    itemGap: 26,
                    top: '43px',
                    left:'260px',
                    orient: 'vertical',
                    x: 'right',
                    data: ['照明插座用电', '空调用电', '动力用电', '特殊用电']
                },
                color:colors,
                series: [
                    {
                        center:['30%','30%'],
                        name: '用电比例',
                        type: 'pie',
                        radius: ['38%', '48%'],
                        avoidLabelOverlap: false,
                        hoverAnimation: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {
                                value: 35,
                                name: '照明插座用电',
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            position: 'center',
                                            formatter: '总能耗\n\n\n\n',
                                            textStyle: {
                                                fontSize: '14',
                                                baseline: 'top',
                                                color: 'gray'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        }
                                    }
                                }
                            },
                            {
                                value: 25,
                                name: '空调用电',
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            position: 'center',
                                            formatter: '37229',
                                            textStyle: {
                                                fontSize: '32',
                                                baseline: 'top',
                                                color: '#0f0'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        }
                                    }
                                }
                            },
                            {
                                value: 15,
                                name: '动力用电',
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            position: 'center',
                                            formatter: '\n\n\n\nkWh',
                                            textStyle: {
                                                fontSize: '14',
                                                baseline: 'top',
                                                color: 'gray'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        }
                                    }
                                }
                            },
                            { value: 25, name: '特殊用电' }
                        ]
                    }
                ]
            };
            pieChart.setOption(pieOption);
        });
        $(document).ready(function () {
            var orderChart = echarts.init(document.getElementById('orderEC'));
            var categories = ['洪昌广场', '茂业百货', '大中华国际大厦', '地王大厦', '天虹商场', '坂田街道办', '中山三院', '君尚百货', '创维大厦', '厦门市政府大楼'];
            var data = [20, 10, 9, 8, 7, 6, 5, 4, 3, 2];
            var dataMax = Math.max.apply(Math, data);

            var labelSetting = {
                normal: {
                    show: true,
                    position: 'right',
                    textStyle: {
                        fontSize: 12,
                        color: 'black'
                    },
                    formatter: function (params) {
                        return params.value[2];
                    }
                },
                emphasis: {
                    textStyle: {
                        fontSize: 12,
                        color: 'red'
                    }
                }
            };
            var itemStyleSetting = { normal: { color: 'transparent' } };

            var orderOption = {
                //title: {
                //    left: 'center',
                //    text: '分辨率使用情况',
                //    subtext: '数据来源于百度统计流量研究院'
                //},
                tooltip: {
                    trigger: 'axis',
                    showContent: false,
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: 20,
                    right: 20
                },
                yAxis: {
                    data: categories,
                    inverse: true,
                    axisLine: { show: false },
                    axisTick: { show: false },
                    axisLabel: { show: false }
                },
                xAxis: {
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    axisTick: { show: false },
                    axisLine: { show: false },
                    min: -15
                },
                series: [{
                    name: '2016',
                    type: 'pictorialBar',
                    symbolRepeat: false,
                    symbolSize: ['90%', '60%'],
                    symbol: 'rect',
                    itemStyle: {
                        normal: {
                            color: '#6ED1A2'
                        },
                        emphasis: {
                            color: 'red'
                        }
                    },
                    barCategoryGap: '60%',
                    data: data
                    }, {
                        name: 'percentLabel',
                        type: 'scatter',
                        silent: true,
                        hoverAnimation: false,
                        itemStyle: itemStyleSetting,
                        label: labelSetting,
                        data: echarts.util.map(data, function (item, index) {
                            return [dataMax + 4, index, item + 'kw/h'];
                        })
                    }, {
                        name: 'resolution',
                        type: 'scatter',
                        silent: true,
                        hoverAnimation: false,
                        itemStyle: itemStyleSetting,
                        label: labelSetting,
                        data: echarts.util.map(categories, function (item, index) {
                            return [-10, index, item];
                        })
                    }, {
                        name: 'order',
                        type: 'scatter',
                        silent: true,
                        hoverAnimation: false,
                        itemStyle: itemStyleSetting,
                        label: labelSetting,
                        data: echarts.util.map(categories, function (item, index) {
                            return [-12, index, index + 1];
                        })
                    }]
                };
            orderChart.setOption(orderOption);
        });
        $(document).ready(function () {
            var barChart = echarts.init(document.getElementById('detailEC'));
            var barOption = {
                title: {
                    text: '近三日逐时能耗用量图',
                    subtext: '单位（kWh）',
                    left: 'center'
                },
                color: ['#987CB7'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ['2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04', '2017-08-05', '2017-08-06', '2017-08-07', '2017-08-08', '2017-08-09', '2017-08-10', '2017-08-11', '2017-08-12', '2017-08-13', '2017-08-14', '2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18', '2017-08-19', '2017-08-20', '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26', '2017-08-27', '2017-08-28'],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '直接访问',
                        type: 'bar',
                        barWidth: '60%',
                        data: [100, 52, 80, 134, 190, 330, 220, 10, 52, 90, 334, 30, 330, 220, 10, 52, 200, 334, 390, 330, 220, 10, 52, 200, 334, 390, 330, 220]
                    }
                ]
            };
            barChart.setOption(barOption);
        })
    </script>
}
