<div class="page-content-body" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-3">
            <div class="portlet box grey-salt">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>基本信息
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="展开/折叠"> </a>
                        <a href="" class="fullscreen" data-original-title="" title="全屏"> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block;">
                   <img src="~/Upload/Organization/1.png"  class="img-responsive img-rounded"/>
                </div>
            </div>
            <div class="portlet box grey-steel">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>简介
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="展开/折叠"> </a>
                        <a href="" class="fullscreen" data-original-title="" title="全屏"> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block;">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                    nec elit. Cras mattis consectetur purus sit amet fermentum.
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="portlet box grey-cararra">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>运维管理
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="展开/折叠"> </a>
                        <a href="" class="fullscreen" data-original-title="" title="全屏"> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block;">
                    运维管理
                </div>
            </div>
            <div class="portlet box grey-salsa">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>安全管理
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="展开/折叠"> </a>
                        <a href="" class="fullscreen" data-original-title="" title="全屏"> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block;">
                    安全管理
                </div>
            </div>
            <div class="portlet box grey-salsa">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>能耗统计
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="展开/折叠"> </a>
                        <a href="" class="fullscreen" data-original-title="" title="全屏"> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block;">
                    能耗统计
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

}
