@{
    ViewBag.Title = "保养计划";
    ViewBag.ParentTitle = "设备维保";
    Layout = "~/Views/Shared/_Page.cshtml";
}
@using Secom.Smp.Common
<link href="~/Content/js/lib/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
    <div class="page-content-body">
        <div class="row">
            <div class="col-md-2">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">设备类型</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="tree_2" class="tree-demo"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase">保养计划</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <button class="btn btn-transparent green btn-outline btn-circle btn-sm active" id="btnSearch" >查询</button>
                                <label class="btn btn-transparent green btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">定制
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btnAdd" class="btn sbold green" data-target="#createModal" data-toggle="modal">
                                            添加
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <span id="spnTest"></span>
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="table_local"></table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
@section scripts{
<script src="@Html.ScriptsPath("common/base-JsTree.js")"></script> 
}

