@{
    Layout = "~/Views/Shared/_Page.cshtml";
    ViewBag.Title = "ECharts示例";
    ViewBag.ParentTitle = "Echarts";
    ViewBag.ParentPageUrl = "/Admin/ECharts";
}
    <!-- BEGIN CONTAINER -->
    <div class="page-content-body">
        <div class="row">
            <div class="col-sm-6 about-links-item">
                <h4>报表控件</h4>
                <ul>
                    <li>
                        <a class="ajaxify nav-link" href="/Admin/ECharts/Line?MenuId=25" id="lnkLine">Line</a>
                    </li>
                    <li>
                        <a class="ajaxify nav-link" href="/Admin/ECharts/Bar" id="lnkLine">Bar</a>
                    </li>
                    <li>
                        <a href="#">xx</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
@section scripts{
 
}
